@charset "UTF-8";
@import 'variables', 'func', 'extends';

.icon{
    width: 24px;
    height: 24px;
    display: inline-block;
}
// optionbox
.slt-box{
    height: auto;
    a{
        @extend .font-regular-14px-5;
        @include box((
            width: 100%,
            padding: rem-calc(4px) rem-calc(20px)
        )...);
        display: block;
        &:hover{
            background-color: map-get($map: $bg-grays, $key: 21);
        }
    }
    .first{
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
    .slt-cont{
        //@extend .shadow-box1;
        display: none;
        height: auto;
        position: absolute;
        width: max-content;
        z-index: 50;
        &.top{
            top: calc(100% + 5px);
        }
        &.right{
            right: 0;
        }
    }
    .slt-title{
        position: relative;
        &.on{
            .first i{
                transform: rotate(180deg);
            }
        }
    }
}
.push-box{
    @include flex-row;
    gap: rem-calc(20px);
    .group{
        @include flex-row;
        gap: rem-calc(10px);
    }
}


/*토스트 알럿*/
.toast-wrap{
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 700;
    .toast-alert-box{
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        padding: 25px 0;
        width: 100%;
        display: none;
        .toast-item-quiz{
            border-radius: 50px;
            overflow: hidden;
            z-index: 20;
            min-width: 390px;
            text-align: center;
            .wrap{
                @include flex-row;
                gap: 45px;
                justify-content: center;
                align-items: center;
            }
            .desc{
                @include flex-row;
                gap: 20px;
                align-items: center;
                font-size: rem-calc(16px);
                color: $white;
                line-height: 44px;
                &::before{
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: url(#{$img-url}ico_danger-sign-y.svg) no-repeat center center;

                }
            }
            .rt-box{
                @include flex-row;
                gap: 10px;
            }
        }
        &.active{
            display: block;
        }
    }
}




/** 페이징 시작 */
.pagination{
    margin: rem-calc(20px) 0 0 0;
    &.mg0{
        margin-top: 0;
    }
    .page{
        @include flex-align-center;
        gap: rem-calc(10px);
        a{
            @include flex-align-center;
            @include box((
                width: rem-calc(30px),
                height: rem-calc(29px),
            )...);
            @include border-radius(rem-calc(8px));
            @extend .font-regular-16px-7;
            min-width: rem-calc(30px);

            $listPageBtns: (first,last,prev,next);
            @each $btn in $listPageBtns{
                &.#{$btn}::before{
                    content: url(#{$img-icon-url}ico_page_#{$btn}.svg);
                }
                &.#{$btn}.disabled{
                    opacity: 0.4;
                    cursor: default;
                }
            }
            &::before{
                padding: 0;
                font-size: 0;
            }
            &:hover{
                color:map-get($map: $active-colors, $key: 2);
            }
            &.current{
                color: $white;
                background-color: map-get($map: $active-colors, $key: 2);
            }
        }
    }
}

//툴팁
.tooltip-box{
    position: relative;
    display: inline-block;
    &.xs{
        .tool-tip-conts{
            .inn{
                width: 150px;
            }
        }
    }
    &.sm{
        .tool-tip-conts{
            .inn{
                width: 200px;
            }
        }
    }
    &.md{
        .tool-tip-conts{
            .inn{
                width: 400px;
            }
        }
    }
    &.lg{
        .tool-tip-conts{
            .inn{
                width: 600px;
            }
        }
    }
    .ico_help{
        vertical-align: -2px;
    }
    .tool-tip-conts{
        position: absolute;
        visibility: hidden;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.3s all;
        z-index: 20;        
        text-align: left;
        .inn{
            @include border-radius(rem-calc(3px));
            background-color: $white;
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
            padding: rem-calc(10px);
            position: relative;
            height: 0;
            overflow: hidden;
            border: 1px solid map-get($bg-grays, 10);
            @extend .font-regular-12px-7;
            &::before{
                content: "";
                position: absolute;
                background: url(#{$img-icon-url}tooltip_arrow.svg) no-repeat center center;
                width: 13px;
                height: 7px;
                top: rem-calc(-7px);
                left: 50%;
                transform: translate(-50%,0);        
            }
            .title{
                font-weight: 500;
                font-size: rem-calc(15px);
                //color:$gnb-menu;
            }
            .desc{
                font-size: rem-calc(13px);
                font-weight: 500;
                //color: #{$gnb-menu};
                line-height: 1.4;
                &.ver2{
                    font-weight: 300;
                    //color:$base-text-color;
                }
            }
            .sort{
                @include flex-clm;
                gap: rem-calc(10px);
                li{
                    position: relative;
                    font-size: rem-calc(13px);
                    span{
                        display: block;
                        //color: map-get($map: $bg-grays, $key: 33);
                    }
                    .point{
                        //color: #{$active-color};
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &.bottom{
        .tool-tip-conts{
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.top{
        .tool-tip-conts{
            bottom: 110%;
            left: 50%;
            transform: translateX(-50%);
        }
        .inn{
            &::before{
                top: auto;
                bottom: -7px;
                transform: translate(-50%,0) rotate(180deg);      
            }
        }
    }
    &.left{
        .tool-tip-conts{
            top: 50%;
            right: 110%;
            transform: translateY(-50%);
        }
        .inn{
            &::before{
                top: 50%;
                left: auto;
                right: -10px;
                transform: translate(0,-50%) rotate(90deg);      
            }
        }
    }
    &.right{
        .tool-tip-conts{
            top: 50%;
            left: 110%;
            transform: translateY(-50%);
        }
        .inn{
            &::before{
                top: 50%;
                right: auto;
                left: -10px;
                transform: translate(0,-50%) rotate(-90deg);      
            }
        }
    }
    &.layer{
        .tool-tip-conts{
            visibility: visible;
            overflow: initial;
            opacity: 1;
            height: auto;
            width: 90%;
            .inn{
                width: 100%;
                height: auto;
                overflow: initial;
                //min-width: rem-calc(200px);
                ///color:$base-text-color;
                font-size: rem-calc(13px);
                line-height: 140%;
                &::before{
                    left: 5%;
                }
            }
        }
        &.bottom{
            .tool-tip-conts{
                top: 140%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.left{
            .tool-tip-conts{
                top: 50%;
                right: 16%;
                transform: translateY(-50%);
            }
            .inn{
                &::before{
                    top: 50%;
                    left: auto;
                    right: -10px;
                    transform: translate(0,-50%) rotate(90deg);      
                }
            }
        }
        &.popup{
            .btn-box{
                background-color: map-get($map: $bg-grays, $key: 46);
                display: flex;
                align-items: center;
                padding: rem-calc(8px) rem-calc(10px);
                margin: rem-calc(-10px) rem-calc(-10px) rem-calc(10px);
                .close{
                    text-indent: -9999px;
                }
            }
            .tool-tip-conts{
                visibility: hidden;
                opacity: 0;
            }
            &.active{
                .tool-tip-conts{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &:hover{
        .tool-tip-conts{
            visibility: visible;
            overflow: initial;
            opacity: 1;
            height: auto;
            .inn{
                height: auto;
                overflow: initial;
                //min-width: rem-calc(200px);
                ///color:$base-text-color;
                font-size: rem-calc(13px);
                line-height: 140%;
            }
        }
    }
}

/** input set */
input{
    transition: all .3s ease;
    // text, number, password, etc..
    &[type="text"], &[type="password"]{
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none; 
        box-sizing: border-box;
        background:#{$basic-trans-color};
        background: #{$white};
        padding: 0 10px;
        color: map-get($map: $def-colors, $key: 'font');
        border: 1px solid map-get($map: $bg-grays, $key: 18);
        border-radius: 3px;
        height: 36px;
        //padding-right: 30px;
        outline: 0;
        &::-ms-expand{
            display: none;
        }
        &:focus{
            border-color: map-get($bg-grays, 7);
            box-shadow: 0 0 6px rgba(0,0,0,0.25);
        }
        &.datepicker{
            width: 120px !important;
            background: url(svg-factory('ico_calendar',#666)) no-repeat center right 10px #{$white};
        }
        &.input{
            border-width: 0 0 1px;
            border-radius: 0;
            height: rem-calc(20px);
            &:focus{
                box-shadow: inherit;
            }
        }
        &.full{
            display: block;
            width: 100%;
        }
    }
    // checkbox
    &[type="checkbox"]{
        display: none;
        &+label{
            @include user-select;
            @include flex-align-center;
            @extend .font-regular-14px-26;
            color: map-get($bg-grays, 7);
            gap: rem-calc(6px);
            cursor: pointer;
            position: relative;
            width: max-content;
            &::before{
                content: '';
                display: inline-block;
                @include border((
                    color: map-get($map: $bg-grays, $key: 18),
                    radius: rem-calc(2px)
                )...);
                $box-size: rem-calc(23px);
                @include box((
                    width: rem-calc(16px),
                    height: rem-calc(16px),
                    line-height: rem-calc(16px),
                    bg-color: $white
                )...);
                margin-top: 2px;
            }
        }
        &:checked + label{
            @extend .font-bold-14px-26;
            color: map-get($active-colors, 2);
            &::before{
                background: url(svg-factory('ico_checked', map-get($bg-grays, 26))) no-repeat center / contain;
                background-size: rem-calc(11px);
                background-color: map-get($bg-grays, 47);
                border: 0;
            }
        }
        &.disabled + label{
            color: map-get($bg-grays, 17);
            &::before{                
                background-color:  map-get($bg-grays, 44);
                border: 1px solid map-get($bg-grays, 21);
                cursor: default;
            }
        }
        &:checked.disabled + label{
            color: map-get($bg-grays, 17);
            &::before{   
                background: url(svg-factory('ico_checked', map-get($bg-grays, 17))) no-repeat center / contain;
                background-size: rem-calc(11px);            
                background-color:  map-get($bg-grays, 44);
                border: 1px solid map-get($bg-grays, 21);
                cursor: default;
            }
        }

    }
    // radio
    &[type="radio"]{
        display: none;
        &+label{
            @include user-select;
            @include flex-align-center;
            @extend .font-regular-14px-26;
            color: map-get($bg-grays, 7);
            gap: rem-calc(6px);
            cursor: pointer;
            position: relative;
            width: max-content;
            &::before{
                content: '';
                display: inline-block;
                @include border((
                    color: map-get($map: $bg-grays, $key: 18),
                    radius: rem-calc(2px)
                )...);
                $box-size: rem-calc(23px);
                @include box((
                    width: rem-calc(16px),
                    height: rem-calc(16px),
                    line-height: rem-calc(16px),
                    bg-color: $white
                )...);
                margin-top: 1px;
                border-radius: 100%;
            }
        }
        &:checked + label{
            @extend .font-bold-14px-26;
            color: map-get($active-colors, 2);
            &::before{
                background: $white;
                border: 5px solid map-get($active-colors, 2);
                box-sizing: border-box;
            }
        }
        &.disabled + label{
            color: map-get($bg-grays, 17);
            &::before{                
                background-color:  map-get($bg-grays, 44);
                border: 1px solid map-get($bg-grays, 21);
                cursor: default;
            }
        }
        &:checked.disabled + label{
            color: map-get($bg-grays, 17);
            &::before{                 
                background: $white;
                border: 5px solid map-get($bg-grays, 44);
                box-sizing: border-box;
                cursor: default;
            }
        }

    }
}
//기본 select
.form-select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none; 
    box-sizing: border-box;
    background:#{$basic-trans-color};
    background-color: $white;
    padding: 0 10px;
    color: map-get($map: $def-colors, $key: 'font');
    border: 1px solid map-get($map: $bg-grays, $key: 18);
    background: url(svg-factory(ico_arrow_toggle,#111)) no-repeat center right 10px;
    border-radius: 3px;
    height: 36px;
    padding-right: 30px;
    outline: 0;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    &::-ms-expand{
        display: none;
    }
    &+input[type="text"]{
        width: 200px !important;
    }
    &:focus{
        border-color: map-get($bg-grays, 7);
        box-shadow: 0 0 6px rgba(0,0,0,0.25);
    }
}

// 버튼
.btn{
    @include border((
        color: map-get($bg-grays,18)
    )...);
    @include flex-align-center;
    gap: rem-calc(5px);
    transition: $transition-speed all;
    i{
        margin-top: -2px;
    }
    $listBtnRadius:(2px, 3px, 4px, 6px, 10px, 25px, 500px);
    @each $btn-radius in $listBtnRadius{
        &.radius#{$btn-radius}{
            @include border-radius($btn-radius);
        }
    }
    $listBtnSize:(20px,24px,30px,36px,34px,40px,50px,56px,80px);
    @each $btn-size in $listBtnSize{
        &.size#{$btn-size}{
            @include box((
                width: max-content,
                padding: 0 rem-calc(15px),
                height: rem-calc($btn-size),
                line-height: rem-calc($btn-size),
            )...);
        }
    }
    $listBtnColor:(
        ('neutral_xs', 'regular-12px-2', map-get($map: $bg-grays, $key: 1), $white),
        ('neutral_sm', 'regular-12px-2', map-get($map: $bg-grays, $key: 10), $white),
        ('neutral_md', 'regular-14px-2', map-get($map: $bg-grays, $key: 10), $white),
        ('neutral_lg', 'regular-18px-2', map-get($map: $bg-grays, $key: 10), $white),
        ('primary_sm', 'regular-12px-26', map-get($map: $active-colors, $key: 2), $primary),
        ('primary_md', 'regular-14px-26', map-get($map: $active-colors, $key: 2), $primary),
        ('primary_lg', 'regular-18px-26', map-get($map: $active-colors, $key: 2), $primary),
        ('negative_sm', 'regular-12px-26', map-get($map: $active-colors, $key: 8), $negative),
        ('negative_md', 'regular-14px-26', map-get($map: $active-colors, $key: 8), $negative),
        ('negative_lg', 'regular-18px-26', map-get($map: $active-colors, $key: 8), $negative),
        ('negative2_xs', 'regular-12px-48', map-get($map: $active-colors, $key: 8), $white),
        ('negative2_sm', 'regular-12px-48', map-get($map: $active-colors, $key: 8), $white),
        ('negative2_md', 'regular-14px-48', map-get($map: $active-colors, $key: 8), $white),
        ('negative2_lg', 'regular-18px-48', map-get($map: $active-colors, $key: 8), $white),
    );
    @each $type, $font, $border-color, $bg-color in $listBtnColor{
        &.#{$type}{
            @extend .font-#{$font} !optional;
            border-color: $border-color;
            background-color: $bg-color;
            &:hover{
                @if(#{$type} == type-a or $type == def or $type == type-f){
                    background-color: map-get($map: $bg-grays, $key: 22);
                    border: 1px solid map-get($map: $bg-grays, $key: 12);
                //} @else if ($type == type-f) {
                } @else {
                    opacity: 0.8;
                }
            }
        }
    }
    &.disabled{
        background: map-get($bg-grays, 44);
        border-color: map-get($bg-grays, 18);
        color: map-get($bg-grays, 17);
        cursor: default;
    }
    .ico{
        &.refresh{
            display: inline-block;
            background: url(#{$img-icon-url}ico_refresh.svg) no-repeat center / contain;
            width: rem-calc(20px);
            height: rem-calc(20px);
            background-size: rem-calc(13px);
        }
    }
    &.padding-xs{
        padding: 0 rem-calc(5px);
    }
}
.ico-btn{
    padding: rem-calc(5px);
}
.view-details{
    cursor: pointer;
    &:hover{
        &:after{
            content: "";
            background: url(svg-factory(ico_magnifying, #666)) no-repeat center center / contain;
            width: rem-calc(15px);
            height: rem-calc(15px);
        }
        .name{
            color: #{$primary};
        }
    }
}
button{
    &.mini{
        background: url(svg-factory(ico_magnifying, #111)) no-repeat center center;
        text-indent: -9999px;
        width: rem-calc(36px);
        height: rem-calc(36px);
        @include box;
    }
}
.marker-star{
    position: relative;
    &::after{
        content: '*';
        @extend .afont-regular-24px-10;
        position: absolute;
        top: 8px;
        left: -35px;
    }
}

/** 테이블 start */
.board-list-header{
    margin: rem-calc(20px) 0;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    .board-title{
        @extend .font-medium-20px-11;
        @include flex-row;
        align-items: center;
        gap: rem-calc(11px);
        .t-dsc{ //2023-08
            font-size: rem-calc(14px);
            font-weight: 400;
            color: map-get($map: $bg-grays, $key: 39);
            display:inline-block;
            margin-left: rem-calc(12px);
            padding-left: rem-calc(15px);
            position: relative;            
            letter-spacing: -0.5px;            
            &::before{
                content: '';
                display: block;
                width: 2px;
                height: 50%;
                background: map-get($map: $active-colors, $key: 11);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    .buttons-wrap{
        @include flex-row;
        gap: rem-calc(10px);
    }
}
.board-list-category{
    @include flex-row;
    margin-bottom: rem-calc(20px);
    a{
        flex: 1;
        @include user-select;
        @include flex-align-center;
        @include border((
            color: map-get($bg-grays,18)
        )...);
        @extend .font-medium-18px-31;
        gap: rem-calc(15px);
        height: rem-calc(56px);
        background-color: map-get($map: $bg-grays, $key: 35);
        &:not(:first-child){
            border-left: 0 none;
        }
        &:first-child{
            border-top-left-radius: rem-calc(15px);
            border-bottom-left-radius: rem-calc(15px);
        }
        &:last-child{
            border-top-right-radius: rem-calc(15px);
            border-bottom-right-radius: rem-calc(15px);
        }
        &.current{
            background-color: $white;
            color: map-get($map: $bg-grays, $key: 4);
            border: 1px solid map-get($map: $bg-grays, $key: 1);
            &::before{
                content: '';
                //@extend .ico_current;
            }
        }
    }
}
.data-table{
    table{
        &.min-width{
            min-width: rem-calc(680px);
            &.xs{
                min-width: rem-calc(300px);
            }
            &.sm{
                min-width: rem-calc(540px);
            }
            &.md{
                min-width: rem-calc(640px);
            }
            &.lg{
                min-width: rem-calc(860px);
            }
        }
        &.tagging{
            tbody{
                tr{
                    cursor: pointer;
                    &.selected{
                        td{
                            background: #{$bg-active};
                            color: map-get($bg-grays, 2);
                        }
                    }
                }
            }
        }
        thead{
            th{
                @extend .font-medium-14px-2;
                text-align: center;
                padding: rem-calc(8px) rem-calc(12px);
                border-width: rem-calc(1px) 0;
                border-style: solid;
                border-color: map-get($map: $bg-grays, $key: 18);
                background-color: map-get($map: $bg-grays, $key: 46);
                position: relative;
                position: sticky;
                top: 0;
                z-index: 2;
                .btn{
                    position: absolute;
                    top: 50%;
                    right: rem-calc(12px);
                    transform: translateY(-50%);
                    padding: 0 rem-calc(5px);
                    @extend .font-regular-13px-4;
                }
                &.orderby{
                    cursor: pointer;
                    &:after{
                        content: "";
                        display: inline-block;
                        width: rem-calc(12px);
                        height: rem-calc(12px);
                        background: url(svg-factory(ico_orderby, #666)) no-repeat center center;
                    }
                    &.on{
                        &:after{
                            transform: rotate(180deg);
                        } 
                    }
                }
                &.help{
                    cursor: pointer;
                    &:after{
                        content: "";
                        display: inline-block;
                        width: rem-calc(15px);
                        height: rem-calc(15px);
                        vertical-align: middle;
                        margin-left: rem-calc(5px);
                        background: url(svg-factory(ico_help, #999)) no-repeat center center / contain;
                    }
                }
            }
        }
        tbody{
            td{
                padding: rem-calc(8px) rem-calc(12px);
                border-bottom: 1px solid map-get($map: $bg-grays, $key: 18);
                position: relative;
                a{
                    @include ellipsis;
                }
                &.center{
                    text-align: center;
                }
                input[type="text"]{
                    border: 0px none;
                    border-radius: 0;
                    width: 90%;
                    vertical-align: middle;
                    background: transparent;
                    padding: 0;
                    height: auto;
                }
                .n-msg{
                    display: none;
                    &:after{
                        content: "(이관실패)";
                        color: #{$negative};
                        margin-left: rem-calc(5px);
                    }
                }
                .abs-btn{
                    display: none;
                    position: absolute;
                    top: 50%;
                    right: rem-calc(10px);
                    transform: translateY(-50%);
                }
                .flex-ms{
                    @include flex-row;
                    @include flex-option((
                        gap: rem-calc(5px),
                        align-items: center
                    )...);
                    a{
                        &:hover,
                        &.selected{
                            color: #{$primary};
                            font-weight: 600;
                        }
                    }
                    &+.flex-ms{
                        margin-top: rem-calc(4px);
                    }
                }
                .unit{
                    color: map-get($bg-grays, 18);
                }
                .percent{
                    margin-left: auto;
                    background: #{$primary};
                    color: #{$white};
                    border-radius: rem-calc(50px);
                    padding: rem-calc(2px) rem-calc(8px);
                }
                .section{
                    @extend .font-regular-12px-47;
                    border: 1px solid map-get($active-colors, 2);
                    border-radius: rem-calc(2px);
                    height: rem-calc(20px);
                    line-height: rem-calc(20px);
                    width: rem-calc(40px);
                    text-align: center;
                }
                .action{
                    &.yes{
                        color: #{$success};
                        font-weight: 900;
                    }
                    &.no{
                        color: #{$negative};
                        font-weight: 900;
                    }
                }
                .btn{
                    padding: 0 rem-calc(5px);
                    display: inline-block;
                    vertical-align: -4px;
                }
            }
            tr{
                &:hover{
                    td{
                        background: map-get($bg-grays, 37);
                    }
                }
                &.warning{
                    td{
                        background: rgba(222,115,115,0.1);
                    }
                    .n-msg{
                        display: inline-block;
                    }
                    .abs-btn{
                        display: inline-block;
                    }
                }
            }
        }
        .center{
            text-align: center;
        }
        input[type=checkbox]+label{
            width: auto;
        }
        .btn{
            &.size40px{
                @extend .font-medium-15px-7;
                width: auto;
                margin: 0 rem-calc(10px);
            }
            &.size32px{
                @extend .font-medium-13px-7;
                width: rem-calc(120px);
                margin: 0 auto;
            }
        }
        &.type-view {
            border-top: 1px solid map-get($map: $bg-grays, $key: 18);
            tbody{
                th{
                    background-color: map-get($map: $bg-grays, $key: 24);
                    border-bottom: 1px solid map-get($map: $bg-grays, $key: 18);
                    padding: rem-calc(15px) rem-calc(20px);
                }
                td{
                    padding: rem-calc(15px) rem-calc(20px);
                }
            }
        }
        &.receipt{
            thead{
                th{
                    border: 0;
                    background-color: $white;
                    text-align: left;
                    @extend .font-bold-14px-2;
                    padding: 0 rem-calc(4px);
                    &:not(:nth-of-type(1)){
                        @extend .font-regular-12px-7;
                        width: 44px;
                        text-align: center;
                        box-sizing: border-box;
                    }
                }
            }
            tbody{
                tr{
                    &:focus,
                    &:hover{
                        th,
                        td{
                            background-color: map-get($active-colors, 25);   
                        }
                    }
                    &.selected{
                        th,
                        td{
                            background-color: map-get($active-colors, 25);                           
                        }
                    }
                    td{
                        .flex-wrap{
                            align-items: center;
                        }
                        a{
                            display: flex;
                        }
                        span{
                            line-height: 1.2;
                            word-break: break-all;
                        }
                    }
                }
            }
            th,td{
                padding: rem-calc(6.5px) rem-calc(4px);
            }
            td{
                border: 0;
                @extend .font-regular-12px-7;
            }
            input{
                text-align: center;
            }
            .value{
                @extend .font-regular-12px-18;
                margin-right: rem-calc(4px);
            }
            .num{
                @extend .font-bold-11px-2;
                position: relative;
                display: inline-block;
                min-width: rem-calc(24px);
                text-align: center;
                z-index: 1;
                margin-right: rem-calc(4px);
                &::before{
                    content: '';
                    display: block;
                    width: rem-calc(24px);
                    height: rem-calc(24px);
                    background: url(#{$img-icon-url}ico_DUR_check.svg) no-repeat center / contain;
                    position: absolute;
                    top: -7px;
                    left: 0;
                    z-index: -1;
                }
            }
        }
        &.view{
            tbody{
                tr{
                    &:focus,
                    &:hover{
                        th,
                        td{
                            background-color: $basic-trans-color;                           
                        }
                    }
                }
            }   
        }
        &.smaller{
            thead{
                th{
                    @extend .font-regular-13px-2;  
                    padding: rem-calc(5px);
                }
            }
            tbody{
                td{                              
                    @extend .font-regular-12px-7;     
                    padding: rem-calc(5px);      
                    a{        
                        @extend .font-regular-12px-7;
                    }
                }
            }
        }
    }
    &+.btn-set{
        @include flex-row;
        @include flex-option((
            justify-content: center
        )...);
        margin-top: rem-calc(20px);
        text-align: center;
    }
}
mark{
    background: #{$bg-active};
    color: map-get($bg-grays, 1);
    padding: rem-calc(2px) rem-calc(4px);
    font-weight: 500;
}
.speaker{
    display: inline-block;
    width: rem-calc(40px);
    text-align: center;
    height: rem-calc(20px);
    border-radius: rem-calc(2px);
    color: #{$white};
    font-size: rem-calc(12px);
    font-weight: 300;
    &.a{
        background: map-get($bg-grays, 7)
    }
    &.b{
        background: #{$primary};
    }
}
.prc-status{
    &.proceeding{
        color: map-get($active-colors, 2);
    }
    &.finish{
        color: map-get($active-colors, 3);
    }
}
.pub-status{
    &.finish{
        color: map-get($active-colors, 3);
    }
}
.swich-content{
    @include swich-content;
}
// 패턴
.pattern-help{
    font-size: rem-calc(12px);
    display: inline-block;
    padding: rem-calc(4px) rem-calc(6px);
    border-radius: rem-calc(2px);
    border: 1px solid transparent;
    font-weight: 400;
    line-height: 100%;
    //margin-right: rem-calc(10px);
    &.a{
        color: map-get($patterntag-colors, 1);
        border-color: map-get($patterntag-colors, 1);
    }
    &.b{
        color: map-get($patterntag-colors, 2);
        border-color: map-get($patterntag-colors, 2);
    }
    &.c{
        color: map-get($patterntag-colors, 3);
        border-color: map-get($patterntag-colors, 3);
    }
}
// TABS
.tabs{
    ul{
        @include flex-row;
        @include flex-option((
            align-items: center,
            //gap: rem-calc(12px)
        )...);
        li{
            cursor: pointer;
            position: relative;
            font-size: rem-calc(13px);
            padding: 0 rem-calc(8px);
            &.selected{
                color: map-get($active-colors, 2);
                font-weight: 600;
            }
            &:not(:last-child){
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 1px;
                    height: 12px;
                    background: map-get($bg-grays, 18);
                    transform: translateY(-45%);
                }
            }
        }
    }
    &+input{
        margin-left: 20px;
    }
}
.empty-data{
    text-align: center;
    padding: rem-calc(20px) 0;
    color: map-get($bg-grays, 10);
    &:before{
        content: "";
        display: inline-block;
        width: 15px;
        height: 19px;
        background: url(svg-factory(ico_sdcard, #666)) no-repeat center center;
        vertical-align: middle;
        margin-right: 5px;
    }
}
// 의료NER 태그
.ner-tag{
    display: inline-block;
    margin-right: rem-calc(4px);
    position: relative;
    padding: rem-calc(4px) rem-calc(4px) rem-calc(2px) rem-calc(4px);
    color: map-get($bg-grays, 2);
    font-weight: 500;
    line-height: 100%;
    //cursor: pointer;
    position: relative;
    border-radius: rem-calc(2px);
    &:hover{
        &:after{
            content: "";
            width: rem-calc(14px);
            height: rem-calc(14px);
            border-radius: rem-calc(50px);
            position: absolute;
            padding: rem-calc(5px);
            top: rem-calc(-6px);
            right: rem-calc(-7px);
            background: url(svg-factory('ico_delete_tag',#fff)) no-repeat center center map-get($bg-grays, 40);
            cursor: pointer;
        }
    }
    //환부
    &.aff-area{
        border-bottom: 3px double $symtom;
        color: $aff-area;
        &:hover{
            &:after{
                background-color: $aff-area;
            }
        }
    }
    //날짜
    &.date{
        background: #{$white};
        border: 1px solid $date;
    }
    //처치
    &.treat{
        background: rgba($treat, $nertag-opacity);
        border: 1px solid $treat;  
        &:hover{
            &:after{
                background-color: $treat;
            }
        }
    }
    //검사
    &.test{
        background: rgba($test, $nertag-opacity);
        border: 1px solid $test; 
        &:hover{
            &:after{
                background-color: $test;
            }
        }       
    }
    //진단
    &.diag{
        background: rgba($diag, $nertag-opacity);
        border: 1px solid $diag; 
        &:hover{
            &:after{
                background-color: $diag;
            }
        }       
    }
    //증상
    &.symtom{
        background: rgba($symtom, $nertag-opacity);
        border: 1px solid $symtom;
        &:hover{
            &:after{
                background-color: $symtom;
            }
        } 
    }
    //약물
    &.medi{
        background: rgba($medi, $nertag-opacity);
        border: 1px solid $medi;  
        &:hover{
            &:after{
                background-color: $medi;
            }
        }
    }
}
.start-tag{
    background-color: map-get($active-colors, 25);
}
.primary{
    color: #{$primary};
}
.warning{
    color: #{$negative};
}
.success{
    color: #{$success};
}
.form-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-set{
    &.flex{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 25px 25px;  
        padding: 15px 20px;              
        overflow: hidden;
        gap: 10px;
    }
    &.full{
        .btn{
            flex: 1;
        }
    }
    &.bottom{
        margin-top: auto;
    }
}

.swipe-wrap{
    background-color: map-get($bg-grays, 49);
    padding: 0 rem-calc(5px);
    border: 1px solid map-get($bg-grays, 21);
    border-right: 0;
    border-left: 0;
    .swiper-container{
        height: 100%;
    }
    .swiper-wrapper{
    }
    .swiper-slide{
        width: auto;
        height: rem-calc(44px);
        display: flex;
        align-items: center;
        position: relative;
        a{
            @extend .font-regular-12px-7;

        }
        &.active{
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: map-get($bg-grays, 2);
                position: absolute;
                bottom: 0;
            }
            a{
                color: map-get($bg-grays, 2);
            }
        }
    }
}

.btn-more{
    padding-right: 38px;
    position: relative;
    &::after{
        content: '더보기';
        display: inline-block;
        @extend .font-regular-12px-7;
        text-decoration: underline;
        position: absolute;
        top: 0;
        right: 0;
    }
}


.summary-list-box{
    padding: rem-calc(10px);
    ol{
        list-style-type: decimal;
        padding: rem-calc(10px) rem-calc(23px);
        li{
           display: list-item;
           list-style-type: decimal;
        }
    }
}

//switch button
.switch-button {
    position: relative;
    display: inline-block;
    .input{
        opacity: 0;
        width: 0;
        height: 0;
        &:checked {
            + .onoff-switch {
                border-color: $basic-trans-color;
                background-color: map-get($active-colors, 2);
                padding: 0 10px 0 34px;
                font-weight: 700;
                color: $white;
                &:after {
                    background-color: $white;
                    right: calc(100% - 24px);
                }
            }
        }
        &:disabled,
        &.disabled,
        &[readonly]{
            + .onoff-switch{
                cursor: default;
                background-color: map-get($bg-grays, 44);
                color:  map-get($bg-grays, 17);
                border-color: map-get($bg-grays, 21);
            }
        }
    }
    .onoff-switch {
        display: flex;
        align-items: center;
        height: rem-calc(30px);
        padding: 0 34px 0 10px;
        border-radius:20px;
        border: 1px solid map-get($bg-grays, 40);
        background-color: $white;
        -webkit-transition: .4s;
        transition: .4s;
        position: relative;
        cursor: pointer;
        &::after {
            position: absolute;
            content: "";
            height: rem-calc(20px);
            width: rem-calc(20px);
            right: 4px;
            top: 4px;
            background-color: map-get($bg-grays, 40);
            -webkit-transition: .5s;
            transition: .4s;
            border-radius:20px;
        }
    }
}